:root {
  --main-color: #132518;
  --secondary-color: #f3f5f7;
  --third-color: rgba(43, 43, 43, 0.5);
  --accent-color: #4cad66;
  --border-color: #9c9c9c;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--secondary-color);
  line-height: 1.5;
  color: var(--main-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
ul,
ol {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
}
button {
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  border: none;
}
