.btn {
  border-radius: 8px;
  height: 48px;
  border: none;
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 600;
  background-color: var(--accent-color);
}

.btn:disabled {
  background-color: darkgrey;
}

/* .btn:hover {
  background-color: darkgrey;
} */
